
<div class="container">
  <!-- Navigation -->
  <%= render partial: '/layouts/menu'%>

  <!-- Main -->
  <div class="content">
    <div class="banner">
      <%= image_tag("banner", width: '100%') %>
    </div>
    <div class="row" >
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>
      <div class="item">
        <div class="img-item">
          <%= image_tag("8a7e0d18efc6a9ef8a8833db9b1bc262.jpeg", width: '100px') %>
        </div>
        <div class="title-ticket">
          <p>Lorem ipsum dolor sit amet account adipisicing elit.</p>
        </div>
        <div class="btn-ticket">
          <button class="btn btn-outline-primary">
            Quiz test
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render partial: "/layouts/footer" %>