<div class="container">
  <%= render  "/layouts/menu" %>
  <div class="content">
    <div class="view-infor">
      <div class="user-menu">
        <%= render  "user-menu" %>
      </div>
      <div class="view-infor-user">
        <div class="row-infor-user">
          <%= link_to  "Edit", edit_user_registration_path, class: "btn btn-outline-primary right-btn" %>
        </div>
        <div class="row-infor-user">
          <% if current_user.image? %>
            <%= image_tag( current_user.image.url(:thumb) , class: "image-avt-user-login", width: "100px" ) %>
          <% else %>
            <%= image_tag( "none-avt.png", class: "image-avt-user-login", width: "100px" ) %>
          <% end %>
        </div>
        <div class="row-infor-user">
          <label>Name: </label>
          <span><%= current_user.name %></span>
        </div>
        <div class="row-infor-user">
          <label>Email: </label>
          <span><%= current_user.email %></span>
        </div>
        <div class="row-infor-user">
          <label>Phone: </label>
          <span><%= current_user.phone %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render  "/layouts/footer" %>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {

      var reader = new FileReader();

      reader.onload = function(e) {
        $('.image-upload-wrap').hide();

        $('.file-upload-image').attr('src', e.target.result);
        $('.file-upload-content').show();

        $('.image-title').html(input.files[0].name);
      };

      reader.readAsDataURL(input.files[0]);

    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
  }
  $('.image-upload-wrap').bind('dragover', function () {
          $('.image-upload-wrap').addClass('image-dropping');
      });
      $('.image-upload-wrap').bind('dragleave', function () {
          $('.image-upload-wrap').removeClass('image-dropping');
  });
</script>