<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to  "QUIZ TEST", root_path , class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to  "Home", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Competition</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Practice
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Math</a>
        <a class="dropdown-item" href="#">Physical</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown current-user-infor">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.image? %>
              <%= image_tag( current_user.image.url(:thumb) , class: "image-avt-user-login", width: "50px" ) %>
            <% else %>
              <%= image_tag( "", class: "image-avt-user-login", width: "50px" ) %>
            <% end %>
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-user" aria-labelledby="navbarDropdown">
            <%= link_to  "View profile", user_path(current_user), class: "dropdown-item link" %>
            <div class="dropdown-divider"></div>
            <%= link_to  "Logout", signout_path, method: :delete, class: "dropdown-item link"  %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to  "Login", signin_path, {:class => "nav-link"}%>
        </li>
        <li class="nav-item">
          <%= link_to  "Register", signup_path, {:class => "nav-link"}%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>